.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; /* La vista ocupa toda la pantalla */
}

.custom-image {
  height: 420px;
  width: 460px;
  max-height: 420px;
  max-width: 460px;
}

.login-paper {
  padding: 2rem;
  border-radius: 10px;
}

.login-title {
  font-weight: bold;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-register-link {
  margin-top: 1rem;
  text-align: center;
}